
//$primary-color:#F75800;
$primary-color:#EA4F53;
$secondary-color:#002041;
$terziary-color:#0d6efd;
$fourth-color:#A2C4E0; 
$primary-light:hsl(357, 100%, 92%);


$other-color:#EA4F53;
$other-colors2:#6182B4;

$light-text:#fff;
$dark-text:black;


$background-color:#fff;
$border-color:$terziary-color;
$text-color:black;
$audio-background:#A2C4E0;
$title-font:'Gabarito','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$body-font: arial, sans-serif;


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900
