@import "config.scss";





.bottom-space{
    height: 300px;
}


.true-false-section{
    .true-false-boxes{
        display: flex;
        justify-content: space-around;

        .vero{
            background-color: greenyellow;
            
        }
        .falso{
            background-color: red;
        }
          div{
              width: 33%;
              padding: 20px;
          border: 1px solid $border-color;
          text-align: center;
          font-size: 1.5rem;
          font-weight: bold;
      }}
    
    .true-false-box.correct {
        transform: scale(1.1);
    }
    
    .true-false-box.incorrect {
        animation: shake 0.3s;
    }
    
    
    @keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-5px); }
        100% { transform: translateX(0); }
    }
    
}


.multiple-option-item{
min-height:50px;
width:60%;
border: 1px $border-color solid;
border-radius: 4px;
margin: 20px auto;
padding: 20px;
}


.right-word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
label{      text-align: left;
    }
    .incorrect{
        animation: shake 0.3s;
    }

    input{
        width: 80%;
        padding: 10px 20px;
        margin: 0px 10%;
    border-color: $terziary-color;
    
        &:focus-visible{
            outline:$primary-color auto 1px;
    
    }
    }

}


