.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: 2px solid #0d6efd;
  margin: 0px 10%;
  padding-bottom: 25px;
}
.login-container p {
  text-align: center;
}
.login-container h4 {
  z-index: 2;
  margin: 37px auto;
  width: 80%;
  text-align: center;
  font-family: "Gabarito", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #EA4F53;
  font-size: 1.2rem;
  font-weight: 500;
}
.login-container input {
  width: 80%;
  padding: 10px 20px;
  margin: 0px 10%;
}
.login-container input:focus-visible {
  outline: #EA4F53 auto 1px;
}